%TMPL:INCLUDE{"edit"}%
%TMPL:DEF{"title"}%%GETTOPICTITLE% (%MAKETEXT{"edit form"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"titleaction"}%%IF{"defined 'rev'" then="%MAKETEXT{"restore form"}%" else="%MAKETEXT{"edit form"}%"}%%TMPL:END%
%TMPL:DEF{"firsttab"}%<textarea class="natedit foswikiHidden" data-hidden="true" data-show-toolbar="false" name="text" id="topic">%TEXT%</textarea>%TMPL:END%
