%TMPL:INCLUDE{"editjavascript"}%
%TMPL:DEF{"editjavascript"}%%TMPL:PREV%%JQREQUIRE{"natedit, farbtastic, uploader, emoji, select2" warn="off"}%%TMPL:P{context="KaTexPluginEnabled" then="katex"}%%TMPL:END%

%TMPL:DEF{"katex"}%%ADDTOZONE{
  "script"
  id="katex::js"
  text="<script src='%PUBURLPATH%/%SYSTEMWEB%/KaTexPlugin/katex.min.js'></script>"
}%%ADDTOZONE{
  "head"
  id="katex::css"
  text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/KaTexPlugin/katex.min.css' media='all'>"
}%%TMPL:END%
